@import 'fonts';
@tailwind base;
@tailwind components;

@import 'additional-styles/utility-patterns.scss';
@import 'additional-styles/range-slider.scss';
@import 'additional-styles/toggle-switch.scss';
@import 'additional-styles/theme.scss';

@tailwind utilities;

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
  .rtl {
      direction: rtl;
  }
}

@import 'layout';
@import 'input';
@import 'button';

body{
  font-family: 'Outfit';
  min-height: 100vh;
  #__next{
    min-height: 100vh;
  }
}

.gradient-text {
    //background: -webkit-linear-gradient(90.19deg,_#eb98fd,_#6ab7ff);
    background: linear-gradient(90.19deg,#eb98fd,#6ab7ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-gradient {
	background: -webkit-gradient(linear, left top, left bottom, from(#eb98fd), to(#6ab7ff));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
